<h2>Список вопросов:</h2>
<% @questions.each do |question| %>
  <h2><%= question.content %></h2>
<% end %>

<p><%= link_to 'Назад к тестам', tests_path %></p>

<p><%= link_to 'Добавить вопрос', new_test_question_path(@test) %></p>
