<footer>
  <p>&copy; <%= Time.now.year %> <%= "Иван Бурсак" %></p>
  <p><%= link_to "Проект на GitHub", "https://github.com/bursachelio" %></p>
  <p>Учебный проект в онлайн-школе <%= link_to "Thinknetica", "https://thinknetica.com" %></p>
</footer>
