<footer>
  <p>&copy; <%= current_year %> <%= "Иван Бурсак" %></p>
  <p><%= link_to "Проект на GitHub", github_url("bursachelio", "test_project") %></p>
  <p>Учебный проект в онлайн-школе <%= link_to "Thinknetica", "https://thinknetica.com" %></p>
</footer>
