<footer>
  <p>&copy; <%= current.year %> <%= author_name %></p>
  <p><%= link_to "MyApp GitHub Repository", github_url, target: "_blank" %></p>
  <p>Учебный проект в онлайн-школе <%= link_to "Thinknetica", "https://thinknetica.com", target: "_blank" %></p>
</footer>
